node_modules
.turbo
dist
.DS_Store
*.log
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
coverage

#docs 
docs/

#graphify
graphify-out/


#cursor
.cursor/


#change
change.md


#AGENTS
AGENTS.md