# Node modules
node_modules

# Build output
dist

#Build info
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# VS Code
.vscode/*
!.vscode/extensions.json

# Documentation
docs/

#graphify
graphify-out/

#cursor
.cursor/

#change
change.md

#AGENTS
AGENTS.md

# Miscellaneous
.idea
coverage
.turbo
.DS_Store
*.log
